<h1>Profil de  {{ user.nickname }}</h1><br>
Pseudo : {{ user.nickname }}<br>
Prénom : {{ user.firstName }}<br>
Nom : {{ user.lastName }}<br>
Date de naissance : {{ user.birthDate|date("d/m/Y") }}<br>
Mail : {{ user.mail}}<br><br>
Pseudo League of Legend : {{ user.lolNickname }}<br>
Pseudo Steam : {{ user.SteamNickname }}<br>
Pseudo Origin : {{ user.originNickname }}<br>
