{% extends "@ESGamingUser/layout.html.twig" %}
{% block corps %}
    {% for flashMessage in app.session.flashbag.get('error') %}

        {{ flashMessage }}

    {% endfor %}

   Bienvenue {{ user.nickname }} ( {{ user.firstName }} {{ user.lastName }})<br><br>
    <a href="{{ path('es_gaming_home_homepage') }}">Retour a l'accueil</a>  |  <a href="{{ path('login') }}">Se connecter</a>
{% endblock %}