{% extends "@ESGamingHome/layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/esgaminghome/css/home.css') }}">
{% endblock %}

{% block header %}


{% endblock %}
{% block corps %}
    <div class="corps col s12">
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="{{ asset('bundles/esgaminghome/images/lol.jpg') }}"> <!-- random image -->
                    <div class="caption center-align">
                        <h3>This is our big Tagline!</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="{{ asset('bundles/esgaminghome/images/csgo.jpg') }}"> <!-- random image -->
                    <div class="caption center-align">
                        <h3>This is our big Tagline!</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="{{ asset('bundles/esgaminghome/images/fifa.jpg') }}"> <!-- random image -->
                    <div class="caption center-align">
                        <h3>This is our big Tagline!</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
            </ul>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/esgaminghome/js/slider.js') }}"></script>
    <script src="{{ asset('bundles/esgaminghome/js/nav.js') }}"></script>
{% endblock %}

